@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --bg: rgb(0, 0, 0);
  --primary: #d0d0d0;
  --secondary: #414141;
  --tertiary: #101010;
  --accent: #fd5a11;
  --error: #a33333;
  --extra: #db2a2a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--primary);
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

img,
svg {
  cursor: pointer;
}

#container {
  padding: 0 20px;
  height: 100%;
  max-width: 1570px;
  margin: 0 auto;
}

h1 {
  font-size: 1.8rem;
  color: var(--primary);
}

/* header */

header {
  padding: 1.5rem 0;
  margin-bottom: 220px;
}

#logo-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: opacity 0.5s;
}

#logo {
  width: 2rem;
}

/* main */

main > * {
  margin-bottom: 2rem;
}

main > *,
#game-container > * {
  user-select: none;
}

#game-container {
  outline: none;
  position: relative;
  height: 150px;
  line-height: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-container:focus #words {
  filter: blur(0);
}

#game-container:focus #focus-warn,
#game-container.over #focus-warn,
#game-container.over:focus #cursor {
  display: none;
}

#game-container:focus #cursor {
  display: block;
}

#game-container.over #words {
  opacity: 0.7;
  filter: blur(0);
}

#timer {
  color: var(--primary);
}

#timer,
#words {
  font-size: 2rem;
}

#timer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#timer-picker {
  transition: opacity 0.5s;
  color: var(--secondary);
  font-size: 1rem;
  display: flex;
  gap: 2.5rem;
  padding: 10px 30px;
  border-radius: 50px;
  background-color: var(--tertiary);
}

.time-option:hover {
  color: var(--primary);
  cursor: pointer;
}

.time-option.active {
  color: var(--primary);
}

#words-type {
  position: absolute;
  inset: 0;
  z-index: -1;
  outline: none;
  border: none;
  opacity: 0;
}

#words {
  transition: all 0.2s;
  filter: blur(5px);
  width: 100%;
  color: var(--secondary);
}

#cursor {
  display: none;
  position: absolute;
  border-radius: 2px;
  left: 5px;
  top: 5px;
  width: 3px;
  background-color: var(--primary);
  height: 40px;
  animation: blink 1s infinite;
  transition: all 0.13s;
}

#focus-warn {
  position: absolute;
  top: 40%;
  text-align: center;
}

.wrapper,
#restart-button-container {
  justify-content: center;
  display: flex;
  align-items: center;
}

#restart-button-container {
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: rotate(180deg);
    width: 1.5rem;
    filter: invert(100%);
    scale: 1.2;
  }
}

#restart-image {
  width: 1.5rem;
}

.word {
  border-bottom: 2px solid transparent;
  margin: 0 0.3rem;
  display: inline-block;
}

.word.extra {
  border-bottom: 2px solid var(--error);
}

.letter.correct {
  color: var(--primary);
}

.letter.incorrect {
  color: var(--error);
}

.letter.extra {
  color: var(--extra);
}

@media (max-width: 570px) {
  header {
    margin-bottom: 100px;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* fix: разбить на модули и перейти на scss */
